body {
    padding: 0;
    margin: 0;
    margin-left: 0.7em;
}

.flex-container {
    box-sizing: border-box;
    border: 2px solid blue;
    display: flex;
    padding: 1em;
    width: 25em;
   
}

.item {
    padding: 1em;
    border: 2px solid #ccc;
    background-color: #f4eaea;
}
