card {
    display: block;
    max-width: 300px;
    margin: 0 auto;
    color: 0;
    text-decoration: none;
}

.card span,
.card strong {
    display: block;
}

.card .media {
    margin-bottom: 1em;
    aspect-ratio: 1/1;
    overflow: hidden;
}


.card .main,
.card .footer {
    padding-inline: 1.5em;
}

.card .footer > span:first-child {
   padding-block: 2em 1.2em;
}

.card .footer > span {
    white-space: nowrap;
    overflow: hidden;
    font-style:italic;
    opacity: 1.1;
}