* {
    padding : 0;
    margin: 0;
    box-sizing: 0;
}

section {
    max-width: 800px;
    margin: 3em auto;
    position: relative;
}

div {
    border: 1px dotted black;
    padding: 2em;
    position: relative;

}

div span {
    display: block;
    position: absolute;
    top: 0;
    left: 0.5em;
}

.content {
    text-align: center;
}
