body {
    padding: 0;
    margin: 0;
    margin-left: 1em;
}

.flex-container, 
.flex-container-reverse, 
.flex-container-column,
.flex-container-column-reverse {
    box-sizing: border-box;
    border: 2px solid blue;
    display: flex;
    padding: 1em;
    width: 30em;
    
}

.item-row {
    padding: 1em;
    border: 2px solid #979191;
    background-color: #e7e1e1;
}

.flex-container-reverse {
    flex-direction: row-reverse;
}

.flex-container-column {
    flex-direction: column;
}

.flex-container-column-reverse {
    flex-direction: column-reverse;
}